<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Live Project Automation : RediffMail">
	
	<test name="Rediff PortFolio Test">
		<classes>
			<class name="com.liveproject.CreatePortfolio"></class>
		</classes>
	
	</test>

</suite> <!-- Suite -->
