.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# file to ignore if you want to use git to track your eclipse workspace metadata directory. 

.mylyn/.taskListIndex/
*.log
.plugins/org.eclipse.m2e.core/nexus/
*.swp
.mylyn/*
.plugins/org.eclipse.core.resources/.root/*.tree
.markers
.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.plugins/org.eclipse.ui.workbench/workingsets.xml
.plugins/org.eclipse.team.cvs.core