<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testcasesrediffPortfolio.ManageSessionTest">
				<methods>
					<include name="doLogin" />
					<include name="doLogOut" />
				</methods>
			</class>
			<class name="testcasesrediffPortfolio.ManagePortfolioTest">
				<methods>
					<include name="createPortfolio" />
					<include name="deletePortfolio" />
				</methods>
			</class>
			<class name="testcasesrediffPortfolio.ManageStocksTest">
				<methods>
					<include name="addStockTest" />
					<include name="modifyStockTest" />
				</methods>
			</class>

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
