<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<groups>
		<run>
			<include name="sanity"></include>
		</run>
	</groups> 
	
	<parameter name="browser1" value="chrome"></parameter>
	<parameter name="browser2" value="chrome"></parameter>
	
	
	<listeners>
		<listener class-name="listener.CustomListener" />
	</listeners>

	<test name="Test1">
		<classes>
			<class name="suiteB.TestClassB" />
			<class name="suiteC.TestClassCC" />
		</classes>
	</test> <!--
	Test1 -->

	<test name="Test2">
		<classes>
			<class name="suiteA.TestClassA" />
			<class name="suiteB.TestClassBB" />
		</classes>
	</test> <!--
	Test2 -->

	<test name="Test3">
		<classes>
			<class name="suiteC.TestClassC" />
			<class name="suiteA.TestClassAA" />
		</classes>
	</test> <!--
	Test3 -->

</suite> <!--
Suite -->

